<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>SafeApp</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
 <script src="static/scripts/change_password_script.js"></script>
 </head>
 <header>
	<h2>
		Change password
	    </h2>
	<p> Please input your credentials to change your password</p>
	</header>
	<nav>
	    <ul>
        	<li><a href="/main">Home</a></li>
        	<li><a href="/register">Registration</a></li>
			<li><a href="/passwords">My passwords</a></li>
        </ul>
	</nav>
 <body>
    <div class="login-box">
	<div class="login-header">Change password</div>   
     <form id="registration-form" class="registration-form" method="post" autocomplete="off"> 
	    <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />         
		<label for="service_name" class="register-label">Username</label>   
        <div class="input-group">
         <input type="text" class="form-control" name="username" id="username" pattern ="[!-&a-z?-Z.-:-]+" required  placeholder="Enter username"/>
        </div>
		
		<label for="password" class="register-label">Master password</label>   
        <div class="input-group">
         <input type="password" class="form-control" name="master_password" id="master_password" pattern ="[!-&a-z?-Z.-:-]+" required  placeholder="Enter master password"/>
        </div>
			
       <input type="submit" value="Send me link" id="form-control btn btn-primary" class="form-control btn btn-primary" name="">
       <p style="padding:5px;">         
 
       
     </form>
	 </div>

 </body>
</html>