<!DOCTYPE html>
<html lang="pl">
<head>
  	<title>SafeApp</title>
  	<meta charset="utf-8">
  	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>	
    </head>
<body>	
	<header>
	<h2>
		My passwords
	    </h2>
	<p></p>
	</header>
	<nav>
	    <ul>
        	<li><a href="/main">Home</a></li>
        	<li><a href="/register">Registration</a></li>
			<li><a href="/passwords">My passwords</a></li>
			<li><a href="/{{method}}">{{msg}}</a></li>
        </ul>
	</nav>	
	<table class="color2-table">
		<h3>Passwords of user: {{username}}</h3>	
		<thead>	
			<tr>           			
				<td>Service name</td>
				<td>Password</td>					
				<td></td>
				<td></td>
				<td></td>					
				<td></td>

			</tr>
		</thead>
		
		<tbody id="abonaments_tbody">
			{% if my_decoded_passwords %}
				{% for password in my_decoded_passwords %}
					<tr class="vanilla">
						<td>{{password.service_name}}</td>
						<td>{{password.password}}</td>	
						<td><input id = "p:{{password.service_name}}" type = "password" placeholder = "Enter master password"/></td>	
						<td><a href = '' onclick="this.href='decode?service_name={{password.service_name}}&input='+document.getElementById('p:{{password.service_name}}').value" class ="decode">Decode<a/></td>
						<td><a href="/hide?service_name={{password.service_name}}" class ="download">Hide<a/></td>						
						<td><a href="/delete?service_name={{password.service_name}}" class ="delete">Delete<a/></td>
					</tr>					
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
	
	<p style="padding:5px;">
       <a type="submit" href="/add" class="btn btn-dark ">Add password</a></p>
	</body>  
</html>